.content {
   width: 250px;
   height: 400px;
   margin: 40px auto;
   position: relative;
}
body{
      background-color: grey;
}
.imge {
   top: 75px;
   width: 250px;
   height: 400px;
   background-image: url("bulb.png");
   background-size: 100% 100%;
   position: relative;
   cursor: pointer;
}
.flash {
   width: 10px;
   
   border-radius: 50%;
   background-color: #000;
   position: absolute;
   top: 100px;
   left: 110px;
   transition: all .5s;
}
.onflash {
   box-shadow: 10px 10px 140px 100px #F1C40F;
   transition: all .5s;
}
header{
   text-align: right;
}
/*button {
   border: none;
   padding: 10px;
   text-align: center;
}*/